<%= turbo_frame_tag "vote_#{post.id}", target: '_top' do %>
  <div class="vote">
    <%= render partial: 'posts/votes/form', locals: { post: post, label: 'up', disable: current_user&.voted_up_on?(post) } %>
    <span class="vote__total"><b><%= post.get_upvotes.size %></b></span>
    <%= render partial: 'posts/votes/form', locals: { post: post, label: 'down', disable: current_user&.voted_down_on?(post) } %>
  </div>
<% end %>
