<div id="return-to-top"
     data-controller="return-to-top"
     data-action="scroll@window->return-to-top#onScroll">
  <button data-action="click->return-to-top#proceed"> Return to top <i class="fas fa-level-up-alt"></i> </button>
</div>
