<div class="login">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login__fields">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-mail' %>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
    </div>
    <div class="login__actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
</div>
