<div>
  <h2><%= link_to post.title, post_path(post) %></h2>
  <p class='meta'><em><%= created_at_date(post) %></em></p>
  <div class='content'>
    <%= body_markdown(post) %>
  </div>
  <nav>
    <% post.tag_list.each do |tag| %>
      <%= link_to tag, '#' %>
    <% end %>
  </nav>
</div>
