/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('simpledotcss');

body {
  max-width: 60rem;
}

.container {
  display: flex;
  flex-direction: column;
}

#return-to-top {
  position: sticky;
  top: 90vh;
  flex-grow:1;
  z-index: -99;
  opacity:0;
  transition: all 0.4s ease;
  margin-left: calc( (-100vw + 60rem ) /2);

  &.active {
    z-index: 99;
    opacity: 1;
  }

  button {
    padding: 16px;
    font-size: 24px;
    width: fit-content;
  }
}

@media(max-width: 768px) {
  #return-to-top  {
    margin-left: 0px;

    button {
      font-size: 16px;
      width: 100%;
    }
  }
}

.spinner-container {
  width: 100%;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 60px;
  }
}

.w-100 {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  pre {
    color: #212121 !important;
  }

  .trix-button {
    background-color: #ffff !important;
  }
}

body {
  max-width: 50rem !important;
}

button, input[type='submit'] {
  cursor: pointer !important;
}
