// Place all the styles related to the bookmarks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'variables';

.post {
  .btn-bookmarked {
    margin-top: 1rem;
    background-color: $button_alternative;
  }

  .btn-bookmark {
    margin-top: 1rem;
  }
}
