@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin centered-col {
  @include flex-col();
  align-items: center;
}

@mixin centered-row {
  display: flex;
  justify-content: center;
}
