@import 'variables';
@import 'mixins';

.post__actions {
  width: 20%;
  display: flex;
  justify-content: space-around;
  a:last-child {
    color: $red;
  }
}

form {
  .field {
    @include flex-col();
    label {
      font-weight: bold;
    }
  }
}
