@import 'variables';
@import 'mixins';

.post__actions {
  width: 20%;
  display: flex;
  justify-content: space-around;
  a:last-child {
    color: $red;
  }
}

form {
  .field {
    @include flex-col();
    label {
      font-weight: bold;
    }
  }
}

.search {
  display: flex;
  margin-top: 1vw;
  form {
    width: 100%;
    @include centered-row();
  }
}

.post {
  .post__meta {
    color: grey;
    font-size: 1rem;
    margin-top: -1rem;
  }
  .post__content {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}

