@import 'application';
@import 'mixins';
@import 'variables';

.login {
  @include centered-col();
  form {
    margin-top: 2vw;
    width: 100%;
    .login__fields {
      @include centered-col();
    }
    .login__actions {
      margin-top: 2vw;
      width: 100%;
      @include centered-row();
    }
  }
  .login__oauth {
    width: 100%;
    form {
      margin-top: 0;
      @include centered-row();
      button[type='submit'] {
        background-color: $github_dark;
      }
    }
  }
}

.login__submit {
  width: 50%;
}
